requests==2.32.3
pytest==8.3.3
pytest-xdist==3.6.1
allure-pytest==2.13.5
pydantic==2.9.2
pydantic-settings==2.6.1
tenacity==9.0.0
schemathesis==3.38.6
Faker==28.4.1
python-dotenv==1.0.1
ruff==0.6.9
pre-commit==4.0.1
mutmut==3.6.0
pytest-rerunfailures==14.0
locust==2.46.2
